<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ida:Tenant" value="alexbdev.onmicrosoft.com" />
    <add key="ida:ClientId" value="71e6dde8-a3ee-448b-a4fe-e92a8f48ec21" />
    <add key="todo:TodoListResourceId" value="api://36388b01-ee90-4eb2-98f9-cfdb6290eba2" />
    <add key="todo:TodoListScope" value="access_as_user" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44324" />
  </appSettings>
</configuration>